.team{
	margin-top: 20px;
   
}
.team h1 {
	text-align: center;
	color: #606060;
	text-transform: uppercase;
    padding-bottom: 10px;
}

.team .box{
	float: left;
	text-align: center;
	width: 32%;
	
}
.team .box p{
    font-size: 25px;
	
}
.team img{
    width: 315px;
    height: 300px
}

/* Media Quaries */
@media(max-width: 768px){
	
	.box,
	.team .box
{
		float: none;
		text-align: center;
		width: 100%;
	}

	
}